@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --primary-color: #ADBC9F;
    --secondary-color: #FBFADA;
    --tertiary-color: #12372A;
    --quaternary-color: #436850;

    --highlight: #53ecb7;



    --main-font: 'Pixelify Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-sec {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--tertiary-color);
    gap: 5rem;
}

.pomodoro-container {
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;


}


.pomodoro-title {
    font-family: var(--main-font);
    top: 6rem;
    font-size: 70px;
    color: var(--highlight);
    text-align: center;
    transition: all .5 ease;


    -webkit-text-stroke: 1px #151a07;
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
}



.pomodoro-main p {
    font-size: 7em;
    color: var(--primary-color);
    text-align: center;

}


.main-btn {

    padding: 15px 50px;
    border: 2px solid var(--quaternary-color);
    border-radius: 20px;
    background: #12372A;
    font-family: var(--main-font);
    font-size: 25px;
    color: var(--secondary-color);
    cursor: pointer;
    transition: all .3s ease;
    font-weight: 800;
}

.active {

    color: var(--tertiary-color);
    background-color: #fbfada8f;



}

.main-btn:hover {
    color: var(--tertiary-color);
    background-color: #fbfada8f;
}

.pomodoro-menu {
    display: flex;
    align-items: center;
    gap: 12px;


}

.focus {
    padding: 6px 20px;
    font-family: var(--main-font);
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--highlight);
    color: var(--tertiary-color);
}

.pomodoro-menu button {
    font-family: var(--main-font);
    border: none;
    font-size: 20px;
    border-radius: 5px;
}



.breaks {
    position: relative;

}

.breaks button {
    padding: 6px 10px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    transition: all .3s ease;
}



.break-title {
    position: absolute;
    font-size: 15px;
    top: -25px;
    left: 82px;
    color: var(--highlight);
}

.resetbutton {
    border: none;
    background: none;
    cursor: pointer;
    font-family: var(--main-font);
    color: var(--primary-color);
    font-weight: 800;
    font-size: 17px;
    transition:  .2s ease-in-out ;
}

.resetbutton:hover {
    color: var(--highlight);
} 

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-family: var(--main-font);
    font-size: 15px;
}
.note {
    color: #53ecb6b2;
    text-align: center;
    padding: 0 1em;
}


/* MEDIA QUERIES */
@media (max-width:1920px) {
}

@media (max-width:1680px) {
    .pomodoro-title {
        font-size: 62px;
    }
}

@media (max-width:1440px) {
    .pomodoro-title {
        font-size: 57px;
    }
}

@media (max-width:1366px) {
    .pomodoro-title {
        font-size: 55px;
    }
}


@media (max-width:1280px) {
}

@media (max-width:1024px) {
}

@media (max-width:768px) {
    .pomodoro-menu {
        flex-direction: column-reverse;
    }

    .pomodoro-main p {
        font-size: 6em;
    }
}

@media (max-width:640px) {

    .main-btn {
        font-size: 18px;
    }
}



@media (max-width:475px) {
    .pomodoro-main p {
        font-size: 5em;
    }
}


@media (max-width:375px) {
}

@media (max-width:320px) {
}

